---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=fullscreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 17 Oct 2014 01:32:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ee76752887d0ec9759116e91d400c170
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '48'
      X-Rate-Limit-Reset:
      - '1413509670'
      X-Transaction:
      - ce5839c6efb7c839
    body:
      encoding: UTF-8
      string: '[{"id":238110322,"id_str":"238110322","name":"Fullscreen","screen_name":"Fullscreen","location":"LA
        \/ Worldwide","profile_location":null,"description":"The First Media Company
        for the Connected Generation.\r\n#PowerToTheCreators","url":"http:\/\/t.co\/IuYBnxFitD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IuYBnxFitD","expanded_url":"http:\/\/www.fullscreen.com","display_url":"fullscreen.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":48464,"friends_count":2723,"listed_count":386,"created_at":"Fri
        Jan 14 11:36:27 +0000 2011","favourites_count":58377,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":19270,"lang":"en","status":{"created_at":"Fri
        Oct 17 01:18:07 +0000 2014","id":522919453915222017,"id_str":"522919453915222017","text":"@alyssabernal
        @justfeng #Yaass","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":522913232172752897,"in_reply_to_status_id_str":"522913232172752897","in_reply_to_user_id":19833465,"in_reply_to_user_id_str":"19833465","in_reply_to_screen_name":"alyssabernal","geo":{"type":"Point","coordinates":[34.02858079,-118.38899689]},"coordinates":{"type":"Point","coordinates":[-118.38899689,34.02858079]},"place":{"id":"3b77caf94bfc81fe","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/3b77caf94bfc81fe.json","place_type":"city","name":"Los
        Angeles","full_name":"Los Angeles, CA","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-118.668404,33.704538],[-118.155409,33.704538],[-118.155409,34.337041],[-118.668404,34.337041]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"Yaass","indices":[24,30]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"alyssabernal","name":"Alyssa
        Bernal","id":19833465,"id_str":"19833465","indices":[0,13]},{"screen_name":"justfeng","name":"F
        E N G","id":28761428,"id_str":"28761428","indices":[14,23]}]},"favorited":false,"retweeted":false,"lang":"und"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"16121E","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/449347350306111489\/zWlAXsXf.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/449347350306111489\/zWlAXsXf.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/449344241752227841\/xJeF6VQn_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/449344241752227841\/xJeF6VQn_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/238110322\/1411497387","profile_link_color":"E62E4C","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}]'
  recorded_at: Fri, 17 Oct 2014 01:32:36 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=fullscreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ACCESS_TOKEN
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - a2199c91b010435cdf94f2fe2a4bf831
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '12345678'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Fri, 17 Oct 2014 01:32:42 GMT
- request:
    method: post
    uri: https://TWITTER_API_KEY:TWITTER_API_SECRET@api.twitter.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 17 Oct 2014 01:34:30 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 4a4b0eedf574558894cc0be39d164f5f
      X-Transaction:
      - 609540090da5dd7f
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ACCESS_TOKEN"}'
  recorded_at: Fri, 17 Oct 2014 01:34:30 GMT
[...]
