---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=fullscreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Oct 2014 01:59:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 851ff0cbbc569919bb6ab73b6b6fe748
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '56'
      X-Rate-Limit-Reset:
      - '1413857676'
      X-Transaction:
      - 950c04be1b344867
    body:
      encoding: UTF-8
      string: '[{"id":238110322,"id_str":"238110322","name":"Fullscreen","screen_name":"Fullscreen","location":"LA
        \/ Worldwide","profile_location":null,"description":"The First Media Company
        for the Connected Generation.\r\n#PowerToTheCreators","url":"http:\/\/t.co\/IuYBnxFitD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IuYBnxFitD","expanded_url":"http:\/\/www.fullscreen.com","display_url":"fullscreen.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":48673,"friends_count":2729,"listed_count":384,"created_at":"Fri
        Jan 14 11:36:27 +0000 2011","favourites_count":58386,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":19313,"lang":"en","status":{"created_at":"Mon
        Oct 20 23:51:20 +0000 2014","id":524347162453229568,"id_str":"524347162453229568","text":"How
        do you deal with a demon priest\ud83d\ude28? \n\nRUN \ud83c\udfc3\ud83c\udfc3!!!!\n\n\ud83c\udfa5:
        @AverageBroTV http:\/\/t.co\/re1jmY65BL","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":3,"favorite_count":14,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/re1jmY65BL","expanded_url":"http:\/\/full.sc\/1t6rp46","display_url":"full.sc\/1t6rp46","indices":[69,91]}],"user_mentions":[{"screen_name":"AverageBroTV","name":"Cody
        Stoerck","id":1296665106,"id_str":"1296665106","indices":[55,68]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"16121E","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/449347350306111489\/zWlAXsXf.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/449347350306111489\/zWlAXsXf.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/449344241752227841\/xJeF6VQn_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/449344241752227841\/xJeF6VQn_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/238110322\/1411497387","profile_link_color":"E62E4C","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}]'
  recorded_at: Tue, 21 Oct 2014 01:59:36 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=fullscreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ACCESS_TOKEN
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - 3c78d90938f421300f1693181870ac7f
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '12345678'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Tue, 21 Oct 2014 01:59:43 GMT
- request:
    method: post
    uri: https://TWITTER_API_KEY:TWITTER_API_SECRET@api.twitter.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Oct 2014 02:14:36 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 9a7e99d0257fc3549a5f09de6dfa9588
      X-Transaction:
      - 609540090da5dd7f
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ACCESS_TOKEN"}'
  recorded_at: Tue, 21 Oct 2014 02:14:36 GMT
[...]
