---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=brohemian6,fullscreen,CodFatherLucas,09hlQHE29534awe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 17 Oct 2014 01:32:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ab4495fb8206fa26bd030d16e251d199
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '51'
      X-Rate-Limit-Reset:
      - '1413509670'
      X-Transaction:
      - 4aa02f115aca626a
    body:
      encoding: UTF-8
      string: '[{"id":1004807442,"id_str":"1004807442","name":"Jeremy Cohen hoffing","screen_name":"brohemian6","location":"Los
        Angeles, CA","profile_location":null,"description":"Web developer & Amphibian","url":"http:\/\/t.co\/bkIDyYNa","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/bkIDyYNa","expanded_url":"http:\/\/www.surfhadaka.com","display_url":"surfhadaka.com","indices":[0,20]}]},"description":{"urls":[]}},"protected":false,"followers_count":20,"friends_count":10,"listed_count":0,"created_at":"Tue
        Dec 11 20:22:30 +0000 2012","favourites_count":5,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":6,"lang":"en","status":{"created_at":"Tue
        Jun 24 06:26:58 +0000 2014","id":481322573935181824,"id_str":"481322573935181824","text":"Just
        read @MrJamesNestor''s DEEP from cover to cover. Truly fascinating &amp; inspiring.
        Looks like I''m flipping the master switch this weekend.","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"MrJamesNestor","name":"James
        Nestor","id":68263746,"id_str":"68263746","indices":[10,24]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2962729705\/fb8dc900e79586a355b93160171697dd_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2962729705\/fb8dc900e79586a355b93160171697dd_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},{"id":238110322,"id_str":"238110322","name":"Fullscreen","screen_name":"Fullscreen","location":"LA
        \/ Worldwide","profile_location":null,"description":"The First Media Company
        for the Connected Generation.\r\n#PowerToTheCreators","url":"http:\/\/t.co\/IuYBnxFitD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IuYBnxFitD","expanded_url":"http:\/\/www.fullscreen.com","display_url":"fullscreen.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":48464,"friends_count":2723,"listed_count":386,"created_at":"Fri
        Jan 14 11:36:27 +0000 2011","favourites_count":58377,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":19270,"lang":"en","status":{"created_at":"Fri
        Oct 17 01:18:07 +0000 2014","id":522919453915222017,"id_str":"522919453915222017","text":"@alyssabernal
        @justfeng #Yaass","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":522913232172752897,"in_reply_to_status_id_str":"522913232172752897","in_reply_to_user_id":19833465,"in_reply_to_user_id_str":"19833465","in_reply_to_screen_name":"alyssabernal","geo":{"type":"Point","coordinates":[34.02858079,-118.38899689]},"coordinates":{"type":"Point","coordinates":[-118.38899689,34.02858079]},"place":{"id":"3b77caf94bfc81fe","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/3b77caf94bfc81fe.json","place_type":"city","name":"Los
        Angeles","full_name":"Los Angeles, CA","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-118.668404,33.704538],[-118.155409,33.704538],[-118.155409,34.337041],[-118.668404,34.337041]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"Yaass","indices":[24,30]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"alyssabernal","name":"Alyssa
        Bernal","id":19833465,"id_str":"19833465","indices":[0,13]},{"screen_name":"justfeng","name":"F
        E N G","id":28761428,"id_str":"28761428","indices":[14,23]}]},"favorited":false,"retweeted":false,"lang":"und"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"16121E","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/449347350306111489\/zWlAXsXf.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/449347350306111489\/zWlAXsXf.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/449344241752227841\/xJeF6VQn_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/449344241752227841\/xJeF6VQn_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/238110322\/1411497387","profile_link_color":"E62E4C","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}]'
  recorded_at: Fri, 17 Oct 2014 01:32:36 GMT
recorded_with: VCR 2.9.3
