---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=brohemian6,fullscreen,CodFatherLucas,09hlQHE29534awe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 11 Oct 2014 01:08:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7ce0eb46ed311f4157794f16c7f94561
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '1412990602'
      X-Transaction:
      - a830b020ab5ed140
    body:
      encoding: UTF-8
      string: '[{"id":1004807442,"id_str":"1004807442","name":"Jeremy Cohen hoffing","screen_name":"brohemian6","location":"Los
        Angeles, CA","description":"Web developer & Amphibian","url":"http:\/\/t.co\/bkIDyYNa","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/bkIDyYNa","expanded_url":"http:\/\/www.surfhadaka.com","display_url":"surfhadaka.com","indices":[0,20]}]},"description":{"urls":[]}},"protected":false,"followers_count":20,"friends_count":10,"listed_count":0,"created_at":"Tue
        Dec 11 20:22:30 +0000 2012","favourites_count":5,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":6,"lang":"en","status":{"created_at":"Tue
        Jun 24 06:26:58 +0000 2014","id":481322573935181824,"id_str":"481322573935181824","text":"Just
        read @MrJamesNestor''s DEEP from cover to cover. Truly fascinating &amp; inspiring.
        Looks like I''m flipping the master switch this weekend.","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"MrJamesNestor","name":"James
        Nestor","id":68263746,"id_str":"68263746","indices":[10,24]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2962729705\/fb8dc900e79586a355b93160171697dd_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2962729705\/fb8dc900e79586a355b93160171697dd_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},{"id":238110322,"id_str":"238110322","name":"Fullscreen","screen_name":"Fullscreen","location":"LA
        \/ Worldwide","description":"The First Media Company for the Connected Generation.\r\n#PowerToTheCreators","url":"http:\/\/t.co\/IuYBnxFitD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IuYBnxFitD","expanded_url":"http:\/\/www.fullscreen.com","display_url":"fullscreen.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":48138,"friends_count":271[...]
