---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=INSTAGRAM_CLIENT_ID&q=Fullscreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"fullscreenlive","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11380055_911947602208918_979808696_a.jpg","id":"1428352739","full_name":"Fullscreen
        Live"},{"username":"fullscreen","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_270587948_75sq_1395968129.jpg","id":"270587948","full_name":"Fullscreen"},{"username":"fullscreenhello","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11352934_371941299670578_2086971949_a.jpg","id":"2040070340","full_name":"Fullscreen
        Hello"},{"username":"fullscreentv_","profile_picture":"https:\/\/igcdn-photos-h-a.[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/270587948?client_id=INSTAGRAM_CLIENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4997'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"fullscreen","bio":"#PowerToTheCreators\nClick
        the link below to order #O2LFOREVER, exclusively on Vimeo! \ud83d\udc47","website":"http:\/\/full.sc\/1KeYG5j","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_270587948_75sq_1395968129.jpg","full_name":"Fullscreen","counts":{"media":1327,"followed_by":22229,"follows":1171},"id":"270587948"}}'
  recorded_at: Wed, 05 Aug 2015 22:17:13 GMT
recorded_with: VCR 2.9.3
