---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=INSTAGRAM_CLIENT_ID&q=Fullscreen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"fullscreen","bio":"Let your
        dreams come true...","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_41672819_75sq_1390767340.jpg","full_name":"Kermit
        De Luxe","id":"41672819"},{"username":"fullscreen_inc","bio":"The First Media
        Company for the Connected Generation.\n#PowerToTheCreators","website":"http:\/\/www.Fullscreen.com","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_270587948_75sq_1395968129.jpg","full_name":"Fullscreen","id":"270587948"},{"username":"leslawpajek","bio":"I''m
        a professional filmmaker, fan of Japan. My rules are simple: like 4 like,
        (un)follow 4 (un)follow. LINE: cinemax, Snapchat: cinem[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/41672819?client_id=INSTAGRAM_CLIENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"fullscreen","bio":"Let your
        dreams come true...","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_41672819_75sq_1390767340.jpg","full_name":"Kermit
        De Luxe","counts":{"media":150,"followed_by":270,"follows":29},"id":"41672819"}}'
  recorded_at: Fri, 17 Oct 2014 01:32:34 GMT
recorded_with: VCR 2.9.3
